*.dat
*.iml
*.lock
*.log
*.njsproj
*.ntvs*
*.out
*.pid
*.seed
*.sln
*.sublime-*
*.suo
*.swo
*.swp
*.tgz
*.xml
*temp
.DS_Store
.idea
.project
.strong-pm
.vscode
/.idea/
/.idea/workspace.xml
coverage
dist/
logs
node/assets/FZLTKHK--GBK1-0.ttf
node_modules
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
yarn.lock
